body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.soto{
    font-size: 45px;
}
.color{
    color: orange;
}
.fiexible-conteiner{
    display: flex;
    margin-bottom: 100px;
}
.width{
    width: 50%;
    padding: 5%;
}
.width img{
    width: 80%;
}
.botton{
    text-decoration: none;
    background-color: rgb(236, 51, 51);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}
.top-benar{
    background-image: url(imeges/top-banner.png);
    background-repeat: no-repeat;
    
}
.dreim{
    background-image: url(imeges/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.right{
    padding: 15px;
}
.orenge{
    color: orange;
}
.experience-aria{
    background-image: url(imeges/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 40px gray;
}
.font{
    font-size: 35px;
}
.experience-padding{
    padding-left: 10px;

}
#Full-Stack-Web-Developer{
    border-left: 7px solid tomato;
}
#Baby-Web-Developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}
